<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>
<div class="navbar" th:insert="~{header/navbar :: copy}"></div>
<div class="form_login">
    <h1 class="background_form">Sign in</h1>
    <div class="error_label" th:if="${param.error}">
        Invalid username and password.
    </div>
    <div class="error_label" th:if="${param.logout}">
        You have been logged out.
    </div>
    <form name="loginForm" method="POST" action="perform_login">
        <p><label for="username">Username</label>
            <input type="text" id="username" name="username">
        </p>
        <p><label for="password">Password</label>
            <input type="text" id="password" name="password">
        </p>
        <input type="submit"/>
    </form>
</div>
</body>
</html>