<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
</head>
<body>
<div class="navbar" th:insert="~{header/navbar :: copy}"></div>
<div class="sign_up_form">
    <h1>Регистрация</h1>
    <form method="post" action="/sign_up/reg">
        <p><label for="username_sign_up">Имя пользователя</label>
            <input id="username_sign_up" name="username_sign_up" type="text">
        </p>
        <p><label for="password_sign_up">Пароль</label>
            <input id="password_sign_up" name="password_sign_up" type="text">
        </p>
        <p><label for="email_sign_up">Электронная почта</label>
            <input id="email_sign_up" name="email_sign_up" type="text">
        </p>
        <p><label for="age_sign_up">Возраст</label>
            <input id="age_sign_up" name="age_sign_up" type="text">
        </p>
        <input type="submit">
    </form>
</div>
</body>
</html>