<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="navbar" th:fragment="copy">
    <a class="btn" href="/sign_up" sec:authorize="!isAuthenticated()">Регистрация</a>
    <a class="btn" href="/login" sec:authorize="!isAuthenticated()">Войти</a>
    <a class="btn" sec:authorize="isAuthenticated()">Профиль</a>
    <a class="btn" href="/perform_logout" sec:authorize="isAuthenticated()">Выйти</a>
</div>
</body>
</html>


